@import url('https://fonts.googleapis.com/css?family=Satisfy');
}
/* Estilos del cuerpo de la pagina */
body {
  font-family: Advertising;
}
img {
	max-width: 100%;
}
i {
  margin: 0px;
  font-size: 26px;
}
a {
 color: rgba(0,0,0,1);
}
p {
  align: justify;
}
#wrapper {
    background: url("../images/rest1.jpg") no-repeat center center fixed;
    width: 100% !important;
    height: 100% !important
    z-index: 0;
}
/* Colores de fondo */
#img_center, #text_center, #search_box, #navegacion, #historial, #img_left {
  background-color: rgba(184,197,208,0.8);
}
/* ---------------*/
#top_banner {
  padding: 0px;
  border:0px solid rgba(0,0,0,1);
  border-radius: 0px 10px 0px 0px;
  margin-bottom: 10px;
}
#name_cont {
  padding: 0px;
  margin: 0px;
}
#titulo, #top_image {
  padding: 0px;
  margin: 0px;
}
#imagen1 {
  border-radius: 0px 10px 0px 0px;
  border: 0px;
}
#name {
  padding: 4px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  border:0px;
  border-radius: 10px 0px 0px 0px;
  height: 100% !important;
  background-color: rgba(114,135,140,0.8);

}
#titulo, h3{
  font-family: 'Satisfy', cursive;
  font-size: 35px;
  color: rgba(255,255,255,1);
  text-shadow: 2px 2px 4px rgba(2,1,10,1);
}
#slogan {
  color: rgba(255,255,255,1);
}
#navbar_left {
  padding: 0px;
  margin: 0px;
}
#articulos {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#img_center {
  padding: 10px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}
#text_center {
  padding: 0px 10px 5px 10px;
  margin: 0px 0px 0px 0px;
  border: 0px;
}
#search_box {
  padding: 10px 4px 10px 4px;
  margin-right: 10px;
}
#my_buttom {
  margin: 1px 0px 0px 6px;
  padding: 4px 12px 4px 12px;
}
#navegacion, #historial {
  padding: 10px 4px 10px 4px;
  margin: 0px 10px 0px 0px;
}
#img_left {
  padding: 4px 0px 0px 4px;
  margin: 0px 10px 0px 0px;
}
#articulos img, #com_hist img {
  border-radius: 10px 10px 10px 10px;
}
#img_center {
  align: center;
}
#textarea {
  border-radius: 10px;
  padding: 0px;
  margin: 0px 0px 4px 0px;
}
#com_hist {
  border-radius: 10px;
  padding: 0px 0px 0px 2px;
  margin: 6px 0px 6px 0px;
  background-color: rgba(255,255,255,1);
}
